{% extends 'layout.html.twig' %} {% block title %}Profil de l'utilisateur{%
endblock %} {% block stylesheet %}<link
    rel="stylesheet"
    href="/assets/css/profil.css"
/>{% endblock %} {% block content %}
<form action="/search" method="get">
    <input type="text" name="search_term" placeholder="Rechercher un article par catégorie...">
    <button type="submit">Rechercher</button>
</form>
<h1>Profil de l'utilisateur</h1>
<h2>Informations personnelles</h2>
<p><strong>Nom :</strong> {{ userId.name }}</p>
<p>
    <strong>Image :</strong> <img src="{{ userId.image }}" alt="User Image" />
</p>
<p><strong>Titre :</strong> {{ userId.title }}</p>
<p><strong>Description :</strong> {{ userId.description | raw }}</p>
<a href="/forgot_password">Réinitialiser le mot de passe</a>

<h2>Mes articles</h2>
<ul>
    {% for article in articles %}
    <li>
        <h3>{{ article.title }}</h3>
        <p>{{ article.content | raw }}</p>
        <p>Catégorie(s) : {{ article.categories | default('Aucune catégorie') }}</p>
        <a href="/article/edit?id={{ article.id }}">Éditer</a>
        <a href="/article/delete?id={{ article.id }}">Supprimer</a>
        <p><a href="/show?id={{ article.id }}"
            >Commentaires ({{ article.comment_count }})</a></p>
    </li>
    {% endfor %}
</ul>

<a href="/article/add">Ajouter un article</a>
{% endblock %}
