{% extends 'layout.html.twig' %} 
{% block title %}Profil de l'utilisateur{% endblock %} 
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/profil.css" />
{% endblock %} 
{% block content %}
<div class="blog">BLOG de {{ userId.name }}</div>
<div class="container">
    <div class="article">
            <h1>Mes articles</h1>
            {% for article in articles %}
        <div class="border">

            <h2>{{ article.title }}</h2>
            <p class="text">{{ article.content | raw }}</p>
            <p>Catégorie(s) : {% if article.categories %}
                {% for category in article.categories %}
                    <form action="/search" method="get" style="display: inline;">
                        <input type="hidden" name="search_term" value="{{ category }}">
                        <button type="submit">{{ category }}</button>
                    </form>
                {% endfor %}
            {% else %}
                Aucune catégorie
            {% endif %}
            </p>
            <p>Posté le {{ article.date | date('d/m/Y à H:i') }}</p>
            <div class="button-container">
                <a href="/article/edit?id={{ article.id }}" class="button2"
                    >Éditer</a
                    >
                <a href="/article/delete?id={{ article.id }}" class="button2"
                    >Supprimer</a>

                <a href="/show?id={{ article.id }}" class="button2"
                    >Commentaires ({{ article.comment_count }})</a>

            </div>
        </div>
            {% endfor %}
    </div>
            <a href="/article/add" class="button2">Ajouter un article</a>
    <div class="info">
        <p>
            <img src="{{ userId.image }}" alt="User Image" class="imageronde" />
        </p>

        <t class="title">{{ userId.name }}</t>
        <p class="titleblog"><strong>{{ userId.title }}</strong></p>
        <p class="text">{{ userId.description | raw }}</p>
        <a href="/forgot_password" class="button2"
            >Réinitialiser le mot de passe
        </a>
    </div>
</div>
{% endblock %}
