{% extends 'layout.html.twig' %} {% block title %}Blog - Accueil{% endblock %}
{% block content %}
<h1>Articles récents</h1>
<ul>
    {% for article in articles %}
    <li>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content | raw }}</p>
        <a href="/show?id={{ article.id }}">Voir l'article en détail</a>
        <p>{{ article.date }}</p>
        <p>{{ article.author_name }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
