{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	| Article
	{{ article.id }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>{{ article.title }}</h1>
			<p>{{ article.content }}</p>
			<img src="{{ article.image }}" alt="Image de l'article">
			<p>Auteur :
				{{ article.author_name }}</p>
		</div>
	</div>
</div>{% endblock %}
