{% extends 'layout.html.twig' %} {% block content %}
<h1>Article : {{ article.title }}</h1>
<p>{{ article.content | raw }}</p>

<p>
    Auteur : {% if article.author_name is defined %}{{ article.author_name }}{%
    else %}Auteur inconnu{% endif %}
</p>

<a href="/article/edit?id={{ article.id }}">Éditer</a>
<a href="/article/delete?id={{ article.id }}">Supprimer</a>
<a href="/profil">Back</a>
{% endblock %}
