{% extends 'layout.html.twig' %} {% block content %}

<h1>Article : {{ article.title }}</h1>
<p>{{ article.content | raw }}</p>

<p>
    Auteur : {% if article.author_name is defined %}{{ article.author_name }}{%
    else %}Auteur inconnu{% endif %}
</p>

<!-- Affichage des catégories -->
<p>Catégorie(s) : 
    {% if categories is not empty %}
        {% for category in categories %}
            <span>{{ category.name }}</span>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        Aucune catégorie
    {% endif %}
</p>

<a href="/article/edit?id={{ article.id }}">Éditer</a>
<a href="/article/delete?id={{ article.id }}">Supprimer</a>
<a href="/">Back</a>

<h2>Commentaires</h2>
{% if comments is not empty %}
    <ul>
        {% for comment in comments %}
            <li>
                <strong>Utilisateur:</strong> {{ comment.user_name }}<br>
                <p>{{ comment.content | raw }}</p>
                {% if "user_id" is defined %}
                    <a href="/comment/edit?comment_id={{ comment.id }}"><button>Éditer commentaire</button></a>
                    <a href="/comment/delete?comment_id={{comment.id}}"><button>Supprimer commentaire</button></a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun commentaire pour cet article.</p>
{% endif %}
{% if article.blog_user_id is defined %} {% if userId %}
<h3>Laissez un commentaire</h3>
<form method="post" action="/comment/add">
    <input type="hidden" name="article_id" value="{{ article.id }}" />
    <textarea
        name="content_{{ article.id }}"
        id="content_{{ article.id }}"
        required
    ></textarea>
    <button type="submit">Ajouter un commentaire</button>
</form>
{% else %}
<p>Vous devez être <a href="/login">connecté</a> pour commenter.</p>
{% endif %} {% endif %} {% endblock %}
